<!DOCTYPE html>
<html lang="en">
<head>
  <title>Customer Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
<!-- check this shiz -->
  <!-- <% include templates/header.ejs </template>%> -->

<!-- navbar shiz -->

<% if (isAuthenticated){%>


<nav class="navbar-fluid navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">BogusFitnessClub</a>
    </div>
    <!-- <div class="collapse navbar-collapse" id="myNavbar"> -->
      <ul class="nav navbar-nav navbar-right">      
        <li><a href="n3.html"> About Us</a></li>
        <li><a href="#"> Contact Us</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    <!-- </div> -->
  </div>
</nav>

<!-- profile side bar -->
  
<div class="container-fluid">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-user-pic">
          <img src="profile.png" alt="can't find image" class="img-responsive img-circle">
        <div class="profile-user-title">
          <!-- <br> -->
          <div class="profile-user-name">
            <h2>
              <%=user.cust_name%>
            </h2>
          </div>
          <div class="profile-user-job">
            Customer ID: <%=user.cust_id%>
          </div>
        </div>
        <br>
        <!-- <div class="profile-user-buttons"> -->
          <!-- <button class="btn btn-success btn-sm">randome</button> -->
        <!-- </div> -->
        <div class="profile-user-menu">  
          <!-- check above -->
           <ul class="nav">
             <li><a href="/customerprofile"><i class="glyphicon glyphicon-user"></i>  Customer Profile</a>
             <!-- <li class="active"><a href="">Profile</a> -->
             <li class="active"><a href="/addt"><i class="glyphicon glyphicon-plus"></i>   New Transaction</a>
             <!-- <li><a href=""> NewTransaction</a> -->
             <li><a href="/viewt"><i class="glyphicon glyphicon-th-list"></i>   Transaction History</a>
              <li><a href="/viewatt"><i class="glyphicon glyphicon-th-list"></i>   View Attendance</a>
             <!-- <li><a href=""> TranscationHistory</a> -->
             <br>
             <li><a href=""><i class="glyphicon glyphicon-envelope"></i>   Feedback</li></a>
           </ul>
        </div>
      </div>
    </div>
  </div> 


<!-- jumbotron -->
<div class="col-md-8">
  <div class="container">
    <div class="jumbotron">
      <h1>Purchase Items</h1>
      <h3>Card Balance: <%=user.card_bal%></h3>
        <% if(flash.length){ %>
          <h3 id="alert"><%=flash%>!!</h3>
        <% } %>
      <div class="container">
        <h2></h2>
        <!-- <p>Please contact BogusFitnessClub in case of any issues with the following details.</p> -->
        <br>
        <div class="col-md-10">            
        <table class="table table-hover">
          <thead>
            <th>Item Name</th>
            <th>Item Price</th>
            <th>Stock Available</th>
            <th>Purchase</th>
            <th></th>
          </thead>
          <tbody>
            <% for(var i=0; i < rows.length; i++) { %>
              <form method="post" action="/addt">
        
              <!--     <input type="hidden" name="userid" value=<%= user.cust_id %>> -->
                <tr>
                  <input type="hidden" name="id" value=<%= rows[i].inv_id %>>
                  <!-- <td><%= rows[i].inv_id %>  </td> -->
                  <input type="hidden" name="name" value=<%= rows[i].inv_name %>>

                  <input type="hidden" name="price" value=<%= rows[i].sp %>>
                  <td><%= rows[i].inv_name %></td>
                  <td><%= rows[i].sp%></td>
                  <td><%= rows[i].stock%></td>
                  <td> 
                    <INPUT TYPE="number" NAME="quantity" size='1' max = '<%=rows[i].stock%>' min = '0' value= 1> 
                  </td>
                  <td><input type="submit" value="Submit"></td>
                </tr>
        
              </form>
            <% } %>
          </tbody>
      </table>
    </div>
    </div>      
  </div>
</div>
</div>


<%}%>

</body>
</html>
