<!DOCTYPE html>
<html lang="en">
<head>
  <title>Customer Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
<!-- navbar shiz -->

<nav class="navbar-fluid navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">BogusFitnessClub</a>
    </div>
    <!-- <div class="collapse navbar-collapse" id="myNavbar"> -->
      <ul class="nav navbar-nav navbar-right">      
        <li><a href="n3.html"> About Us</a></li>
        <li><a href="#"> Contact Us</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    <!-- </div> -->
  </div>
</nav>

<!-- profile side bar for receptionist-->

  
<div class="container-fluid">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-user-pic">
          <img src="profile.png" alt="can't find image" class="img-responsive img-circle">
        <div class="profile-user-title">
          <!-- <br> -->
          <div class="profile-user-name">
            <h2>
              <%=user.emp_name%>
            </h2>
          </div>
          <div class="profile-user-job">
            <%=user.job%>
          </div>
        </div>
        <br>
        <!-- <div class="profile-user-buttons"> -->
          <!-- <button class="btn btn-success btn-sm">randome</button> -->
        <!-- </div> -->
        <div class="profile-user-menu">  
          <!-- check above -->
           <ul class="nav">
             <li><a href="/empprofile"><i class="glyphicon glyphicon-user"></i>  Employee Profile</a>
             <!-- <li class="active"><a href="">Profile</a> -->
             <%if(type == 'Maintenance'){%> 
                <li><a href="/viewi"><i class="glyphicon glyphicon-plus"></i>   View Inventory</a>
                <li class="active"><a href="/modifyi"><i class="glyphicon glyphicon-plus"></i>   Modify Inventory</a>
                <li><a href="/viewequip"><i class="glyphicon glyphicon-plus"></i>   View Equipment</a>
                <li><a href="/modifyequip"><i class="glyphicon glyphicon-plus"></i>   Modify Equipment</a>
                <li><a href="/status"><i class="glyphicon glyphicon-plus"></i>   Update staus</a>
              <%}%>
             <br>
             <!-- <li><a href=""><i class="glyphicon glyphicon-envelope"></i>   Feedback</li></a> -->
           </ul>
        </div>
      </div>
    </div>
  </div>

<!-- jumbotron -->
<div class="col-md-8">
  <div class="container">
    <div class="jumbotron">
      <h1>Food Inventory</h1>
      <h3> </h3>
      <div class="container">
        <h2></h2>
        <!-- <h3>Please contact BogusFitnessClub in case of any issues with the following details.</h3> -->
        <br>
        <div class="col-md-8">            
        <table class="table table-hover">
          <thead>
            <th>Inventory ID</th>
            <th>Name</th>
            <th>Cost Price</th>
            <th>Selling Price</th>
            <th>Stock</th>
            <th></th>
          </thead>
          <tbody>
            </tr>
    <% for(var i=0; i < rows.length; i++) { %>
    <form method="post" action="/modifyi">
    
       <tr>
        <input type="hidden" name="id" value=<%= rows[i].inv_id %>>
       <td><%= rows[i].inv_id %>  </td>
       <td><%= rows[i].inv_name %>  <INPUT TYPE="TEXT" NAME="name" value = <%=rows[i].inv_name%> ></td>
       <td><%= rows[i].cp%>   <!-- <INPUT TYPE="number" NAME="cp" size='0' value= <%=rows[i].cp%> > --></td>
       <td><%= rows[i].sp%>   <INPUT TYPE="number" NAME="sp" size='1' value= <%=rows[i].sp%> </td>
       <td><%= rows[i].stock%>   <INPUT TYPE="number" NAME="stock" size='1' value= <%=rows[i].stock%> ></td>
       <td><input type="submit" value="Submit"></td>
      </tr>
      
    </form>
    <% } %>

    <form method="post" action="/addi">
    
       
       <td> Add New</td>
       <td><INPUT TYPE="TEXT" NAME="name"  ></td>
       <td> <INPUT TYPE="number" NAME="cp" size='0' ></td>
       <td> <INPUT TYPE="number" NAME="sp" size='1' </td>
       <td> <INPUT TYPE="number" NAME="stock" size='1' ></td>
       <td><input type="submit" value="Add"></td>
      </tr>  
    </form>
          </tbody>
      </table>
    </div>
    </div>      
  </div>
</div>
</div>

</body>
</html>

