<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include templates/header.ejs </template>%>
    <h1><%= title %></h1>
    <!-- <h1> <%=user.cust_name%> </h1> -->

    <p>Welcome to <%= title %></p>
	
  <table border="1">
    <tr>
    <th> TRANSACTION ID</th>
    <th> Product </th> 
    <th> Price </th>

    <th> Quantity </th>
    <th> Time of Purchase </th>
    </tr>
    <% for(var i=0; i < rows.length; i++) { %>
     <tr>
     <td><%= rows[i].t_id %></td>
     <td><%= rows[i].inv_name %></td>
     <td><%= rows[i].price%></td>
     <td><%= rows[i].quant%></td>
     <td><%= rows[i].time%></td>
    </tr>
    <% } %>
</table>
	
  </body>
</html>
