<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
  	    <% include templates/header.ejs </template>%>
    <h1> <%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%if(flash.length>0){%>
        <h1><%=flash%></h1>
    <%}%>
    <table border="1">
    <tr>
    <th> Date</th>
    <th> Place </th> 
    </tr>
    <% for(var i=0; i < rows.length; i++) { %>
    <tr>
    <td><%= rows[i].time %></td>
    <td><%= rows[i].place %></td>
    </tr>
    <% } %>
</table>
  </body>
</html>
